# Playing with data: bike sharing

## 1. Bike sharing systems

Bike sharing has rapidly become a popular means of public transport in modern cities. Its benefits are numerous, including improved health and fitness for the users, decreased congestion on the road networks of the cities, and decreased environmental and pollutive impact from the more conventional means of public transport which rely on fossil fuels. Cycling is also widely considered to be fun! :)

In an effort to meet these needs and promote these benefits many companies have sprung up that offer a systematised bike-sharing service. All have a fleet of bicycles available for the customers, but deployal comes in two forms: from fixed stations with locking docking points, or on a "pick-up-drop-off" principle, where the user parks the bike in any accessible location for the next user to find it. Whilst the flexibility of the latter offers many benefits, we will focus on the former for our following experiments. We will use the [Capital Bike Sharing data](https://s3.amazonaws.com/capitalbikeshare-data/index.html) based around metropolitan District Columbia, USA, which are freely available from Capital's website.

The biggest problem for users of bike-sharing systems such as Capital's is being able to find a bike and/or a docking station when you need one. For example during the morning rush-hour, commuters to work might find that earlier users have already snapped up all the bikes. After eventually locating a bike and cycling to work, they might find that all the docking stations near their work are already full up from the earlier commuters. This can make usage of the system quite tricky and annoying! And of course the same problems apply to the evening homeward commute...

We will try to find patterns in usage, by applying techniques from machine learning (ML). Moreover we will attempt to predict demands (of bikes/spaces) at the stations, which a company could use to artificially reposition the bikes so as to better meet the users' requirements.

## 2. The data

The data available from Capital comprise a fairly large set (there are now roughly 3 x 10^6 bike journeys every year using their system), so there is some re-engineering required to make the ML techniques more tractable.

### 2.1 Importing

We assume the full data of years 2013--2017 (inclusive) have been downloaded from Capital's webpage and saved in the same folder as the notebook. We import them into pandas data-sets.

The data are split into yearly quarters. There are 5 years' data available, and 4 quarters per year, meaning we have 20 csv files to read. This is best accomplished with a for-loop, and saving the data in a dictionary.

In [12]:
# We start by setting up our Python workbook. We'll use pandas for manipulating our data; it relies on numpy, which is inherently
# important itself for maths in Python. For plotting purposes we'll use Python's built-in library matplotlib.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Now we import our data. This will likely take a few minutes.
num_years = 5
start = 3
data = {}
for n in range(num_years):
    for m in range(4):
        data["Y201{0}".format(str(int(n+start))+"Q"+str(int(m+1)))] = \
        pd.read_csv(r"C:\Users\sneak\Documents\Python Scripts\Bike_sharing\201"+str(int(n+start))+"Q"+str(int(m+1))+"-capitalbikeshare-tripdata.csv")

In [27]:
# Having imported the data as separate dataframes, we will now combine them into a single dataframe. Later, for testing purposes,
# we'll import what data are available from 2018 (as of today, 2018/11/12, the year is not yet over), and see how our predictions
# compare.

all_data = pd.concat(data.values(),axis=0).reset_index(drop=True)

### 2.2 Engineering

Let's get down to some data re-engineering. The most important features for our purposes are:
Start date, End date, Start station number and End station number.

The final two features (Bike number and Member type) might be interesting for some other analyses, but for predicting usage patterns don't hold much a-priori value. The Duration, Start and End stations can all be re-engineered from our key features.

After selecting and engineering our features we will then produce two new dataframes, indexed by Start and End dates, and resampled over some small sub-interval of time. We'll use 1-hour sub-intervals.

In [28]:
all_data = all_data.drop(["Duration","Start station","End station","Bike number","Member type"],axis=1)

In [45]:
# Now we'll re-label our stations.
# First we simplify the column names:
all_data.columns = ["Start date","End date","Start stn","End stn"]
# Now we find the minimum value:
stn_min = np.min(all_data["Start stn"].apply(int))
# Then we subtract it from all the station labels:
all_data["Start stn"] = all_data["Start stn"].apply(int) - stn_min
all_data["End stn"] = all_data["End stn"].apply(int) - stn_min

                   Start date             End date  Start stn  End stn
0         2013-01-01 00:03:55  2013-01-01 00:15:24        101      106
1         2013-01-01 00:04:39  2013-01-01 00:16:19        236      304
2         2013-01-01 00:10:01  2013-01-01 00:16:06        257      239
3         2013-01-01 00:12:55  2013-01-01 00:17:47        614      612
4         2013-01-01 00:13:24  2013-01-01 00:17:07        239      214
5         2013-01-01 00:14:20  2013-01-01 00:33:58         41       47
6         2013-01-01 00:14:35  2013-01-01 00:33:50         41       47
7         2013-01-01 00:19:39  2013-01-01 00:26:15        613      619
8         2013-01-01 00:21:35  2013-01-01 00:26:47        400      602
9         2013-01-01 00:22:17  2013-01-01 00:26:19        111      245
10        2013-01-01 00:23:16  2013-01-01 00:34:20        203      506
11        2013-01-01 00:24:35  2013-01-01 00:29:59         30       17
12        2013-01-01 00:25:19  2013-01-01 00:29:55         30       17
13        2013-01-01 00:26:15  2013-01-01 00:31:05         42       46
14        2013-01-01 00:26:44  2013-01-01 00:35:20        107      400
15        2013-01-01 00:26:58  2013-01-01 00:36:10        604      614
16        2013-01-01 00:27:58  2013-01-01 00:34:48        251      245
17        2013-01-01 00:28:49  2013-01-01 00:41:27        214      109
18        2013-01-01 00:35:38  2013-01-01 01:01:11         47       10
19        2013-01-01 00:36:06  2013-01-01 01:01:07         47       10
20        2013-01-01 00:37:16  2013-01-01 00:43:58        600      506
21        2013-01-01 00:37:20  2013-01-01 00:42:09        605      628
22        2013-01-01 00:37:23  2013-01-01 01:00:59        111      200
23        2013-01-01 00:37:55  2013-01-01 01:00:58        111      200
24        2013-01-01 00:42:16  2013-01-01 01:17:31        258      247
25        2013-01-01 00:42:33  2013-01-01 00:49:49        214      111
26        2013-01-01 00:42:54  2013-01-01 01:17:36        258      247
27        2013-01-01 00:44:18  2013-01-01 01:04:35        111      611
28        2013-01-01 00:45:34  2013-01-01 00:54:07        101      104
29        2013-01-01 00:45:43  2013-01-01 00:54:14        611      610
...                       ...                  ...        ...      ...
15746338  2017-12-31 22:23:52  2017-12-31 22:27:07         24       26
15746339  2017-12-31 22:27:14  2017-12-31 22:30:28        619      610
15746340  2017-12-31 22:28:30  2017-12-31 22:50:01        623      239
15746341  2017-12-31 22:32:51  2017-12-31 22:43:23        207      101
15746342  2017-12-31 22:33:29  2017-12-31 22:35:55        223      266
15746343  2017-12-31 22:35:11  2017-12-31 22:37:20        116      278
15746344  2017-12-31 22:42:36  2017-12-31 22:53:47        223      615
15746345  2017-12-31 22:47:55  2018-01-01 00:17:29         42       42
15746346  2017-12-31 22:48:11  2018-01-01 00:17:32         42       42
15746347  2017-12-31 22:51:06  2017-12-31 23:02:27        115      214
15746348  2017-12-31 22:54:21  2017-12-31 23:02:47         42       47
15746349  2017-12-31 22:55:28  2017-12-31 23:00:35        619      610
15746350  2017-12-31 22:56:59  2017-12-31 23:02:39          7        9
15746351  2017-12-31 22:57:11  2017-12-31 23:23:13        229      615
15746352  2017-12-31 22:57:31  2017-12-31 23:01:17        615      611
15746353  2017-12-31 22:57:36  2017-12-31 23:28:51        200      299
15746354  2017-12-31 23:00:40  2017-12-31 23:19:05         82       88
15746355  2017-12-31 23:00:55  2017-12-31 23:09:50        121      122
15746356  2017-12-31 23:04:26  2017-12-31 23:16:27        125      506
15746357  2017-12-31 23:08:28  2017-12-31 23:26:50          8      910
15746358  2017-12-31 23:10:32  2017-12-31 23:17:45        104      126
15746359  2017-12-31 23:28:14  2017-12-31 23:40:53        910       42
15746360  2017-12-31 23:29:56  2017-12-31 23:36:53        238      202
15746361  2017-12-31 23:32:11  2017-12-31 23:42:09         48       41
15746362  2017-12-31 23:42:29  2017-12-31 23:44:41        282      201
15746363  2017-12-31 23:43:17  2017-12-31 23:47:54        109      118
15746364  2017-12-31 23:51:55  2017-12-31 23:58:35        125      110
15746365  2017-12-31 23:55:19  2018-01-01 00:01:52        209      609
15746366  2017-12-31 23:57:42  2018-01-01 00:19:42        102      102
15746367  2017-12-31 23:58:21  2018-01-01 00:02:48        229      119

[15746368 rows x 4 columns]